body {
  display: grid; /* we are making the body a grid */
  grid-gap: 1rem; /* this is the gap between the grid items */
  grid-template-columns: repeat(3, 1fr);
}

.visual {
  height: 100px; /* this is the height of the visual */
  width: 100%; /* this is the width of the visual */
  background: wheat; /* this is the background color of the visual */
  margin: 0.5rem 0; /* means there will be a margin of 0.5 "rem" units applied above and below the element.*/
}

.card {
  display: flex; /* this means that the card will be a flexbox */
  flex-direction: column; /* column means the card will be stacked vertically in a column*/
  justify-content: space-between; /* this means that the content will be spaced between the card */
  background: lightpink;
  padding: 1rem; /* this is the padding of the card */
}

body {
  font-family: system-ui, sans-serif;
}

h1 {
  font-size: 1.5rem;
}
